<main class="main">
  <div class="top-menu">
    <img
      class="logo"
      src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    />
  </div>

  <h1>{{ header }}</h1>

  <div class="courses">
    <!-- // Other option to track item in object by function - track trackCourse; but preferably should use simplified -  track course.id -->
    <!-- // if cant track by id, can use index track $index -->

    @for ( course of courses; track course.id; let count = $count; let even =
    $even; let odd = $odd) {
    <stb-course-card
      [course]="course"
      [index]="$index"
      (courseSelected)="onCourseSelected($event)"
    />
    } @empty {
    <p>No courses found!</p>
    }
  </div>
</main>

<router-outlet />
